.header-container {
    background: black;
    color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-right: 1rem;
    padding-left: 1rem;

}

img {
    max-width: 100%;
    max-height: 275px;;
}

